<%- include('sub/head.ejs') %>
<body>
	<div class="container-fluid">
		<%- include('sub/listHeader.ejs') %>
		<div class="text-center page-header container-fluid"  
			style="font-family:Times; background-color: #eeeeff"> 
			<h1><%= type.typeName %></h1>
		</div>
	</div>
	<ul>
		<% for (i = 0; i < objects.length; i++) { %> 
			<div class="object">
				</br>
				<li>
					<a href="/obj/<%= objects[i].id %>">
						<%= objects[i].objName %>
					</a>
				</li>
			</div>
		<% } %>
	</ul>
</body>
</html>
